@import "../../styles/theme";

.auth-page {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-section;
  .link-btn {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 500;
    color: $primary-gold;
    cursor: pointer;
    padding: 0;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }
  .login-act-btns {
    display: flex;
    justify-content: space-between;
  }
}

.auth-card {
  background: $white;
  padding: 32px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.form-group {
  max-width: 370px;
}
