@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  background-color: $white;
  color: $black;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}
