@import "../../styles/theme";

.product-details-page {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.image-section {
  img {
    width: 100%;
    border-radius: 16px;
    background: $bg-section;
  }
}

.info-section {
  h1 {
    margin-bottom: 12px;
  }

  h2 {
    color: $btn-outline-text;
    margin-bottom: 16px;
  }

  .desc {
    margin-bottom: 24px;
    color: $text-secondary;
  }

  .actions {
    display: flex;
    gap: 16px;

    .btn-primary {
      padding: 12px 24px;
      border-radius: 10px;
      border: none;
      background: $btn-primary-bg;
      color: $btn-primary-text;
      cursor: pointer;
    }

    .btn-outline {
      padding: 12px 24px;
      border-radius: 10px;
      background: none;
      border: 1px solid $btn-outline-border;
      color: $btn-outline-text;
      cursor: pointer;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .product-details-page {
    grid-template-columns: 1fr;
  }
}
